# managed by Ansible
KUBELET_KUBEADM_ARGS="--container-runtime-endpoint=unix:///var/run/containerd/containerd.sock \
 --node-ip={{ hostvars[inventory_hostname].ansible_host | default(ansible_host) }} \
 --pod-infra-container-image=registry.k8s.io/pause:{{ pause_image_tag }}"
# Optionally add extra args:
# KUBELET_EXTRA_ARGS="--v=2"
