---
- hosts: jump_server
  become: true
  vars:
    monitoring_dir: /opt/monitoring
    ssh_config_dir: /home/ata/.ssh
    cluster_ssh_user: "ata"
    slack_webhook_url: "https://hooks.slack.com/services"
  
  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes
        cache_valid_time: 3600

    - name: Install required packages
      apt:
        name:
          - python3-pip
          - git
          - curl
          - wget
          - tmux
          - htop
          - iptables-persistent
          - ansible
          - lynis
        state: present

    - name: Install monitoring tools
      apt:
        name:
          - prometheus-node-exporter
          - collectd
        state: present

    - name: Create monitoring directory
      file:
        path: "{{ monitoring_dir }}"
        state: directory
        mode: '0755'

    - name: Ensure group 'ata' exists
      ansible.builtin.group:
        name: ata
        state: present

    - name: Ensure user 'ata' exists
      ansible.builtin.user:
        name: ata
        group: ata
        state: present
        create_home: yes
        shell: /bin/bash

    - name: Configure SSH config for cluster access
      template:
        src: ../templates/ssh_config.j2
        dest: "{{ ssh_config_dir }}/config"
        owner: ata
        group: ata
        mode: '0600'

    - name: Configure iptables
      template:
        src: ../templates/iptables_rules.j2
        dest: /etc/iptables/rules.v4
        mode: '0600'
      notify: reload iptables

    - name: Install cluster monitoring script
      template:
        src: ../templates/monitor_cluster.sh.j2
        dest: /usr/local/bin/monitor_cluster.sh
        mode: '0755'

    - name: Setup monitoring cron job
      cron:
        name: "Monitor cluster health"
        minute: "*/5"
        job: "/usr/local/bin/monitor_cluster.sh"

    - name: Ensure '{{ ssh_config_dir }}' exists for user ata
      file:
        path: "{{ ssh_config_dir }}"
        state: directory
        owner: ata
        group: ata
        mode: '0700'

    - name: Generate SSH keypair for user 'ata' on jump server
      openssh_keypair:
        path: "{{ ssh_config_dir }}/id_rsa"
        type: rsa
        size: 4096
        owner: ata
        group: ata
        mode: '0600'
        force: no
      register: generated_jump_key

    - name: Read jump server public key for user ata
      slurp:
        src: "{{ ssh_config_dir }}/id_rsa.pub"
      register: jump_pub_key

  handlers:
    - name: reload iptables
      ansible.builtin.shell: iptables-restore < /etc/iptables/rules.v4


- hosts: masters:workers
  become: true
  vars:
    # Use the first host from the jump_server group to fetch the generated public key
    jump_host: "{{ groups['jump_server'][0] }}"
    cluster_ssh_user: "ata"

  tasks:
    - name: Add jump server public key to {{cluster_ssh_user}} authorized_keys on masters and workers
      authorized_key:
        user: "{{ cluster_ssh_user }}"
        key: "{{ hostvars[jump_host]['jump_pub_key'].content | b64decode }}"
        state: present