# SSH config for Kubernetes cluster access via bastion host

{% if groups.get('masters') %}
# Master nodes
{%   for host in groups['masters'] %}
{%     set idx = loop.index %}
Host {{ host }} m{{ idx }}
    HostName {{ hostvars[host].ansible_host | default(host) }}
    User {{ cluster_ssh_user | default(hostvars[host].ansible_user | default('root')) }}
    IdentityFile {{ hostvars[host].ansible_ssh_private_key_file | default('~/.ssh/id_rsa') }}
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
    ForwardAgent yes

{%   endfor %}
{% endif %}

{% if groups.get('workers') %}
# Worker nodes
{%   for host in groups['workers'] %}
{%     set idx = loop.index %}
Host {{ host }} w{{ idx }}
    HostName {{ hostvars[host].ansible_host | default(host) }}
    User {{ cluster_ssh_user | default(hostvars[host].ansible_user | default('root')) }}
    IdentityFile {{ hostvars[host].ansible_ssh_private_key_file | default('~/.ssh/id_rsa') }}
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
    ForwardAgent yes

{%   endfor %}
{% endif %}

{% if groups.get('loadbalancers') %}
# Loadbalancers nodes
{%   for host in groups['loadbalancers'] %}
{%     set idx = loop.index %}
Host {{ host }} lb{{ idx }}
    HostName {{ hostvars[host].ansible_host | default(host) }}
    User {{ cluster_ssh_user | default(hostvars[host].ansible_user | default('root')) }}
    IdentityFile {{ hostvars[host].ansible_ssh_private_key_file | default('~/.ssh/id_rsa') }}
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
    ForwardAgent yes

{%   endfor %}
{% endif %}