# SSH config for Kubernetes cluster access via jump server
# Master nodes
{% for host in groups['masters'] %}
Host {{ host }}
    HostName {{ hostvars[host]['ansible_host'] | default(host) }}
    User {{ cluster_ssh_user | default(hostvars[host]['ansible_user'] | default('root')) }}
    IdentityFile {{ hostvars[host]['ansible_ssh_private_key_file'] | default('~/.ssh/id_rsa') }}
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
    ForwardAgent yes

{% endfor %}
# Worker nodes
{% for host in groups['workers'] %}
Host {{ host }}
    HostName {{ hostvars[host]['ansible_host'] | default(host) }}
    User {{ cluster_ssh_user | default(hostvars[host]['ansible_user'] | default('root')) }}
    IdentityFile {{ hostvars[host]['ansible_ssh_private_key_file'] | default('~/.ssh/id_rsa') }}
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
    ForwardAgent yes

{% endfor %}
